{{> main-title title=title }}

<div class="leftRightContainer">
    <div class="left">
        {{> fields}}

        {{> requestResult}}
    </div>
    <div class="right">
        {{> requests-list}}
    </div>
</div>

{{> script}}
